/* VARIABLES TO SET OVERALL THEME */
:root {
    --color1: rgb(180, 36, 180);
    --color2: rgb(142, 141, 141);
    --color3: #4e2d83;
    --color4: white;
    --radius: 20px;
    --shadow: 7px 7px 20px var(--color3);
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background: url(../Assets/swirl-purple.gif) no-repeat center center fixed;
    background-size: cover;
    /* https://tenor.com/en-CA/view/swirl-purple-blue-circle-black-gif-19869207 */
}

header {
    display: block;
    margin: auto;
    max-width: 50%;
    text-align: center;
    color: var(--color2);
    background-color: var(--color3);
    opacity: 85%;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color4)
}

.question-block {
    /* BEGINS HIDDEN, WHEN CLICKED BECOMES VISIBLE */
    display: none;
    max-width: 75%;
    padding: 1% 3% 5% 3%;
}

.answers li {
    list-style-type: none;
    padding: 2%;
}

#start-button {
    font-size: 150%;
    margin: 4%;
    padding: 5%;
}

.button {
    background-color: var(--color1);
    color: var(--color4);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin: 5px;
    padding: 5px;
    max-height: 10%;
}

.button:hover {
    opacity: 85%;
}

/* TIMER AND HIGH SCORE SECTION */
footer {
    display: grid;
    grid-template-columns: 50%;
}

.timer {
    background-color: var(--color4);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    opacity: 95%;
    color: var(--color3);
    visibility: hidden;
    width: 45%;
    position: absolute;
    bottom: 20px;
    padding: 5px;
    font-size: 140%;
    font-weight: bolder;
    text-align: center;
}

.score {
    background-color: var(--color4);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    opacity: 95%;
    color: var(--color3);
    visibility: hidden;
    width: 45%;
    position: absolute;
    bottom: 20px;
    padding: 5px;
    font-size: 140%;
    font-weight: bolder;
    text-align: center;
}